$teal-light: #5dc2bd;
$teal-dark: #2c5e5b;
$dark-maroon: #311429;
$teal: #339b95;
$beige-light: #efe5c3;
$dark-wine: #2c0c23;
$red-intense: #c51414;
$dark-brown: #44293c;
$light-gray: #bbbbbb;
$white: #ffffff;
$black: #000000;
$raspberry-red: #d72652;

$font-siroko: "LiberatorSIROKO-Medium", sans-serif;
$font-inconsolata: "Inconsolata", sans-serif;
$font-inter: "Inter", sans-serif;
