#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 25px;
}
body {
  background-image: url("/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  margin: 0;
}
