.optionList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.optionButton {
  display: flex;
  align-items: center;
  background-color: $dark-brown;
  border-radius: 4px;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.optionButton span {
  font-size: 15px;
  font-family: "Inconsolata", sans-serif;
  font-weight: 400;
  margin-left: 10px;
  color: $white;
}

.optionButton.selected {
  background-color: $raspberry-red;
}

.circle {
  width: 20px;
  height: 20px;
  border: 2px solid $white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerCircle {
  width: 12px;
  height: 12px;
  background-color: $white;
  border-radius: 50%;
}
