.counter {
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding: 10px 15px;
  gap: 10px;

  &.counterRun {
    background-color: $dark-wine;
  }
  &.counterExpired {
    background-color: $red-intense;
  }
}

.time {
  font-family: $font-inconsolata;
  font-weight: 700;
  color: $white;

  &.timeRun {
    font-size: 27px;
    line-height: 31.59px;
  }
  &.timeExpired {
    font-size: 16px;
    line-height: 18.72px;
  }
}

.restart {
  text-decoration: underline;
  cursor: pointer;
}
